@import url("reset.css");
.wrapper{
    width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
/* -- header -- */
header{
    background-image: url("../index-image/top\(1440x145\)-02.jpg");
    height: 146px;
    display: flex;
    align-items: center;
}
header img{
    display: block;
    width: 86px;
    height: 100px;
    margin-left: 80px;
}
header ul{
    display: flex;
    width: 615px;
    align-items: center;
    margin-left: auto;

    margin-right: 100px;
}
header li{
    flex-grow: 1;
    position: relative;
    margin: 0 auto;
}
header li a{
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: white;
    text-align: center;
}
header li a:hover{

}
header li::after{
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background-color: white;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
header li:nth-last-child(2)::before{
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background-color: white;
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
header li img{
    display: block;
    width: 35px;
    height: 30px;
}
header li:nth-last-child(1){
    flex-grow: 0;
}
/* -- nav -- */
nav{
    background-image: url("../commodity-image/commodity-main-img.jpg");
    display: block;
    height: 650px;
}
nav img{
}
/* -- main -- */
main{
    width: 1188px;
    margin: 0 auto;

    font-size: 24px;
    color: rgb(167, 132, 76);;
    padding-top: 80px;
    padding-bottom: 50px;
}
main ul{
    display: flex;
    flex-wrap: wrap;
}
main ul li{
    flex-basis: 350px;
    flex-grow: 1;
}
main img{
    display: block;
    margin: 0 auto;
}
main li div{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    align-items: center;
}
main h2{

}
main h3{
    display: block;
    width: 45px;
    height: 45px;
    background-color: rgb(167, 132, 76);
    color: white;
    line-height: 45px;
    text-align: center;
    margin: 0 10px;
}
main p {

}
/* -- footer -- */
footer{
    background-image: url("../index-image/footer\(1440x200\).jpg");
    height: 200px;
    display: flex;
    position: relative;
}
footer img{
    display: block;
    height: 86px;
    width: 86px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    margin: auto;
}
footer h3{
    color: white;
    font-size: 24px;
    line-height: 200px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 220px;
    margin: auto;
}
footer ul{
    display: flex;
    width: 185px;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
}
footer ul li{
    border: 2px solid white;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
}
footer ul li img{
    display: block;
}
footer .img-1{
    width: 28px;
    height: 21px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
footer .img-2{
    width: 12px;
    height: 28px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
footer .img-3{
    width: 26px;
    height: 24px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
footer h2{
    color: white;
    font-size: 20px;
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}